/* Defaults */
:root {
	--font-family: "Fira Sans", -apple-system, system-ui, sans-serif;
	--font-family-monospace: "Fira Code", "Fira Mono", Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
	--palladian: #EEE9DF;
	--oatmeal: #C9C1B1;
	--burning-flame: #FFB162;
	--truffle-trouble: #A35139;
	--blue-fantastic: #2C3B4D;
	--abyssal-blue: #1B2632;

	--black: #000000;
	--color-gray-900: #303030;
	--color-gray-800: #4C4C4C;
	--color-gray-700: #6E6E6E;
	--color-gray-600: #8D8D8D;
	--color-gray-500: #B2B2B2;
	--color-gray-400: #C9C9C9;
	--color-gray-300: #E0E0E0;
	--color-gray-200: #E9E9E9;
	--color-gray-100: #F5F5F5;
	--color-gray-75: #FAFAFA;
	--white: #FFFFFF;
	
	--background-color: var(--palladian);
	--text-color: var(--abyssal-blue);
	--text-color-link: var(--truffle-trouble);
	--text-color-link-active: var(--blue-fantastic);
	--text-color-link-visited: var(--truffle-trouble);

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: var(--abyssal-blue);
		--text-color: var(--palladian);
		--text-color-link: var(--oatmeal);
		--text-color-link-active: var(--burning-flame);
		--text-color-link-visited: var(--oatmeal);
	}
}


/* Global stylesheet */
* {
	box-sizing: border-box;
}

@view-transition {
	navigation: auto;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}
html {
	overflow-y: scroll;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img{
  max-width: 100%;
}
img[width][height] {
  height: auto;
}
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}
video,
iframe {
	width: 100%;
	height: auto;
}
iframe {
	aspect-ratio: 16/9;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
	text-decoration: none;
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
	text-decoration: underline;
}

main,
footer {
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}

header {
	border-bottom: 1px dashed var(--color-gray-20);
}

#skip-link {
	text-decoration: none;
	background: var(--background-color);
	color: var(--text-color);
	padding: 0.5rem 1rem;
	border: 1px solid var(--color-gray-90);
	border-radius: 2px;
}

/* Prevent visually-hidden skip link fom pushing content around when focused */
#skip-link.visually-hidden:focus {
	position: absolute;
	top: 1rem;
	left: 1rem;
	/* Ensure it is positioned on top of everything else when it is shown */
	z-index: 999;
}

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: "";
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}
.links-nextprev > * {
	flex-grow: 1;
}
.links-nextprev-next {
	text-align: right;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
}
code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
}
.home-link {
	flex-grow: 1;
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	gap: .5em 1em;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Posts list */
.postlist {
	counter-reset: start-from var(--postlist-index);
	list-style: none;
	padding: 0;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}

/* .postlist-item:before, */
.postlist-date {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Base (mobile–tablet) */
html {
  font-size: 110%; /* 16px */
  line-height: 1.5;
}

/* ≥ 800px */
@media (min-width: 800px) {
  html {
    font-size: 120%; /* ~16.8px */
    line-height: 1.55;
  }
  body { max-width: 40em; }
}

/* ≥ 960px */
@media (min-width: 960px) {
  html {
    font-size: 130%; /* ~17.6px */
    line-height: 1.6;
  }
  body { max-width: 43em; }
}

/* ≥ 1280px */
@media (min-width: 1280px) {
  html {
    font-size: 140%; /* ~18.4px */
    line-height: 1.65;
  }
  body { max-width: 47em; }
}

/* ≥ 1440px */
@media (min-width: 1440px) {
  html {
    font-size: 150%; /* ~19.2px */
    line-height: 1.7;
  }
  body { max-width: 50em; }
}

/* ≥ 1920px (2K) */
@media (min-width: 1920px) {
  html {
    font-size: 160%; /* 20px */
    line-height: 1.75;
  }
  body { max-width: 53.5em; }
}

/* ≥ 2560px (3K) */
@media (min-width: 2560px) {
  html {
    font-size: 170%; /* ~20.8px */
    line-height: 1.8;
  }
  body { max-width: 55em; }
}

/* ≥ 3840px (4K) */
@media (min-width: 3840px) {
  html {
    font-size: 180%; /* ~22.4px */
    line-height: 1.85;
  }
  body { max-width: 60em; }
}
