pre, code {
  white-space: pre-wrap !important;      /* Standard CSS 2.1+ */
  word-wrap: break-word !important;      /* IE-specific, now an alias for overflow-wrap */
  overflow-wrap: break-word !important;  /* Standard CSS3 */
  overflow-x: auto !important;           /* Adds horizontal scrollbar if needed */
}


code[class*="language-"],
pre[class*="language-"] {
    font-family: var(--font-family-monospace) !important;
}

@media (prefers-color-scheme: dark) {
    code[class*="language-"],
    pre[class*="language-"] {
        background: #333333;
    }
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}