---js
const eleventyNavigation = {
	key: "blog",
	order: 2
};
---

<ul>
{% for item in collections.all %}
  {% if item.data.title %}
    <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>


{% set postslist = collections.posts %}
{% include "postslist.njk" %}
