---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 99;
---
{% set postsCount = collections.posts | length %}

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}

<ul>
{% for item in collections.gaming %}
	<li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
{% endfor %}
</ul>


{% include "postslist.njk" %}
