---js
// <script>
const pagination = {
	data: "collections",
	size: 1,
	alias: "tag",
	filter: ["all", "posts"],
	// addAllPagesToCollections: true,
};

const eleventyExcludeFromCollections = true;

const eleventyComputed = {
	title: "Tagged '{{ tag }}'",
	permalink: function(data) {
		// If DuplicatePermalinkOutputError occurs, check that no tag occurs
		// with differing case, e.g. "RSS" and "rss".
		return `/tags/${this.slugify(data.tag)}/`;
	}
};
---
<p>Posts tagged “{{ tag }}” / <a href="tags.njk">all tags</a></p>

<article class="recent_posts">
{%- for recent_post in collections[ tag ] %}
  <div class="recent_post{% if recent_post.url == url %} recent_post_active{% endif %}">
	<time class="recent_posts_date" datetime="{{ recent_post.date | htmlDateString }}">
      {{ recent_post.date | readableDate("dd LLL yyyy") }}
    </time>
    <a class="recent_posts_link" href="#{{ recent_post.data.title | slugify }}">
      {{ recent_post.data.title or recent_post.url }}
    </a>
  </div>
{%- endfor %}
</article>

{% set postslist = collections[ tag ] %}
<article reversed class="postlist">
{%- for post in postslist | reverse %}
	<div class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
		<a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
		<div class="post-content">{{ post.templateContent | safe }}</div>
	</div>
{%- endfor %}
</article>
