<ul class="content-list">
    <b>Recently</b><br/>
    <li><a href="https://www.theguardian.com/world/2025/nov/27/inside-the-rise-and-fall-of-podemos-we-believed-we-had-a-stake-in-the-future">Inside the rise and fall of Podemos (Spain)</a>
    ‘We believed we had a stake in the future’</li>
    <li><a href="https://jonready.com/blog/posts/everyone-in-seattle-hates-ai.html">Everyone in Seattle Hates AI</a>
    Anyone trying to build anything new in Seattle. Say "AI" and people treat you like a threat or an idiot.
    </li>
    <li><a href="https://www.theguardian.com/technology/audio/2025/jun/05/missing-in-the-amazon-episode-one-the-disappearance-podcast">Missing in the Amazon - Guardian podcast</a>
    "Missing in the Amazon" by Guardian Latin America correspondent Tom Phillips, dives deep into the 2022 disappearance of his colleague, journalist Dom Phillips and Indigenous defender Bruno Pereira in the remote Javari Valley. It details the specific confrontation between Pereira, the dedicated protector and the poacher known as "Pelado"
    </li>
    <li><a href="https://richardkatz.substack.com/p/korea-has-surpassed-japan-in-per">Korea Has Surpassed Japan in Per Capita GDP</a></li>
    <li><a href="https://generativehistory.substack.com/p/has-google-quietly-solved-two-of">Has Google Quietly Solved Two of AI’s Oldest Problems?</a></li>
    <li><a href="https://hazyresearch.stanford.edu/blog/2025-11-09-amd-brr">AMD GPUs go brrr · Hazy Research</a></li>
    <li><a href="https://minimaxir.com/2025/11/nano-banana-prompts/">Nano Banana can be prompt engineered for extremely nuanced AI image generation | Max Woolf's Blog</a></li>
    <li><a href="https://urlahmed.com/2025/11/05/work-after-work-notes-from-an-unemployed-new-grad-watching-the-job-market-break/">Work, After Work: Notes From an Unemployed New Grad Watching the Job Market Break |</a> <a href="https://news.ycombinator.com/item?id=45870863">discussion @ Hacker News</a></li>
    <li><a href="https://wildingout.substack.com/p/12-things-ive-heard-boomers-say-that">12 Things I’ve Heard Boomers Say That I Agree With 100%</a></li>
    <li><a href="https://www.dwarkesh.com/p/ilya-sutskever-2">Ilya Sutskever – We're moving from the age of scaling to the age of research</a></li>
    <li><a href="https://lesleylai.info/en/fifty_shades_of_oop/">Fifty Shades of OOP | Lesley Lai</a><a href="https://lobste.rs/s/fjf1eh/fifty_shades_oop">discussion @ Lobsters</a></li>
    <li><a href="https://github.com/addyosmani/gemini-cli-tips">addyosmani/gemini-cli-tips: Gemini CLI Tips and Tricks</a><a href="https://news.ycombinator.com/item?id=46060508">discussion @ Hacker News</a></li>
    <li><a href="https://www.raphkoster.com/2025/11/03/game-design-is-simple-actually/">Game design is simple, actually – Raph Koster</a></li>
    <li><a href="https://github.com/Wemino/MadnessPatch">Wemino/MadnessPatch</a> A patch that fixes various issues in the PC port of Alice: Madness Returns</li>
    <li><a href="https://www.blender.org/download/releases/5-0/">Blender 5.0, Whats new?</a></li>
    <li><a href="https://arnon.dk/the-trust-collapse-infinite-ai-content-is-awful/">The trust collapse: Infinite AI content is awful - Arnon Shimoni</a></li>
    <li><a href="https://blog.jetbrains.com/pycharm/2025/11/10-smart-performance-hacks-for-faster-python-code/">10 Smart Performance Hacks For Faster Python Code | The PyCharm Blog</a></li>
    <li><a href="https://minimaxir.com/2025/11/nano-banana-prompts/">Nano Banana can be prompt engineered for extremely nuanced AI image generation | Max Woolf's Blog</a></li>
    <li><a href="https://mariozechner.at/posts/2025-11-02-what-if-you-dont-need-mcp/">What if you don't need MCP at all?</a></li>
    <li><a href="https://www.theguardian.com/film/2025/aug/08/adam-curtis-ari-aster-eddington-interview-covid-politics">‘Nobody believes in the future any more’: Adam Curtis and Ari Aster on how to wake up from the post-truth nightmare | Film | The Guardian</a></li>
    <li><a href="https://www.theguardian.com/books/2025/nov/11/its-notoriously-hard-to-write-about-sex-david-szalay-flesh-booker-prize-winner">‘It’s notoriously hard to write about sex’: David Szalay on Flesh, his astounding Booker prize-winner | David Szalay | The Guardian</a></li>
    <hr/>
    <li><a href="https://github.com/p-e-w/heretic">p-e-w/heretic: Fully automatic censorship removal for language models</a><a href="https://news.ycombinator.com/item?id=45945587">discussion @ HN</a></li>
</ul>